$gold: rgba(183, 105, 0, 0.84);
$darkblue: #100a1c;
$grey: #ababab;
$darkgrey: #6c6c6c;

// setting the base sizing for rems
html {
  font-size: 20px;
}
///////////////////
body {
  background: $grey;
  margin: 0;
}

main {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
// with sub and sup setting the positivity buttons text to alter the height of plus and minus sign
sub, sup {
  position: relative;
}

sup {
  top: 0.2rem;
}

sub {
  bottom: 0.1rem;
}
///////////////////////////////////
.calculator {
  background: rgba(2, 0, 44, 0.81);
  width: 15.7rem;
  height: 24rem;
  border: 1px solid $darkblue;
  border-top: none;
  border-bottom: 2px solid $darkblue;
  border-radius: 0.6em;
  box-shadow: -6px 8px 10px 8px $darkgrey, 6px 8px 8px 8px $darkgrey;
}

.display {
  background: transparent;
  box-sizing: border-box;
  display: block;
  width: inherit;
  text-align: right;
  font-family: 'Lato', sans-serif;
  font-size: 3rem;
  font-weight: 100;
  color: #fff;
  border: 0;
  border-bottom: 1px solid darken($grey, 30%);
  padding: 1.25rem 0.5rem 0;
}

.keyboard {
  width: auto;
  padding: 0 0.5rem;
  margin-top: 0.4em;
}

.row {
  margin-bottom: 0.4rem;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  .key:last-child {
    color: #fff;
    background-color: $gold;
  }
}

.key {
  width: 3.3rem;
  height: 3.3rem;
  box-sizing: border-box;

  cursor: pointer;
  border: 0;
  border-radius: 50%;
  font-family: 'Lato', sans-serif;
  font-weight: 100;
  font-size: 1rem;
  &.dot {
    font-weight: 300;
  }
  &.misc {
    background-color: $darkgrey;
    &:active {
      background-color: darken($darkgrey, 15%);
    }
  }
  &.function, &.end {
    font-size: 1.4rem;
    &:active {
      background-color: lighten($gold, 15%);
    }
    &.clicked {
      background-color: lighten($gold, 15%);
    }
  }
  &.num {
    font-weight: 300;
    font-size: 1.2rem;
    &:active {
      background-color: darken($grey, 15%);
    }
  }
}
